.main {
  display: flex;
  column-gap: 0px;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 100vh;
}

.right {
  width: 70vw;
  height: 100vh;
  background-image: url("../../assets/images/bg-login.png");
  background-size: cover;
}

.form {
  width: 100%;
  max-width: 400px;
  padding: 0px 30px;
}

.image {
  width: 200px;
  margin: 20px 0px;
}

.image img {
  width: 100%;
}

.text {
  margin: 10px 0px;
  font-size: 1.1rem;
}
