.main {
  display: flex;
  column-gap: 0px;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 100vh;
}

.right {
  width: 70vw;
  height: 100vh;
  background-image: url("../../assets/images/bg-register.png");
  background-size: cover;
}

.form {
  width: 100%;
  max-width: 400px;
  padding: 0px 30px;
}
