.main {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  border-bottom: 2px solid rgba(128, 128, 128, 0.174);
  align-items: center;
}

.logo {
  width: 150px;
}

.logo img {
  width: 100%;
}

.profile {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.profile p {
  font-weight: 500;
}
